* {
  color: #002147;
  font-size: 14px;
  font-weight: 900;
}
.add,
.delete,
.update {
  margin: 1px;
  padding: 5px;
  border: 1.5px solid #002147;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  color: #002147;
}
.add:hover,
.delete:hover,
.update:hover {
  background-color: #6666666e;
  cursor: pointer;
}

.submit,
.search,
.addNew {
  margin: 5px;
  padding: 5px 20px;
  background-color: #680404;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  color: #fff;
  font-size: 13px;
  font-weight: 900;
}
.submit {
    font-size: 16px;
    font-weight: 700;
}
.submit:hover,
.search:hover,
.addNew:hover {
  background-color: #002147;
  color: #fff;
  cursor: pointer;
}

.confirm,
.cancel {
  padding: 5px 15px;
  background-color: #fff;
  border: 2px solid #002147;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
}
.confirm:hover,
.cancel:hover {
  background-color: #680404;
  border: 2px solid #680404;
  color: #fff;
  cursor: pointer;
}

.hide {
  display: none;
}
