.add {
    border: 1px solid #28a745;
    border-radius: 8px;
    color: #28a745;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
    cursor: cell
}
.add:hover {
    background-color: #28a745;
    color: white;
}
.delete {
    border: 1px solid #dc3545;
    border-radius: 8px;
    color: #dc3545;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
}
.delete:hover {
    background-color: #dc3545;
    color: white;
}
.update {
    border: 1px solid #17a2b8;
    border-radius: 8px;
    color: #17a2b8;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
}
.update:hover {
    background-color: #17a2b8;
    color: white;
}
.confirm {
    background-color: #002147;
    border: 1px solid #002147;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
}
.confirm:hover {
    background-color: #fff;
    border: 1px solid #002147;
    color: #002147;
}
.cancel {
    border: 1px solid #002147;
    border-radius: 8px;
    color: #002147;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
}
.cancel:hover {
    background-color: #002147;
    color: #fff;
}
.submit, .search, .addNew {
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #152231;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 10px 5px rgba(0, 0, 0, 0.05);
}
.submit:hover, .search:hover, .addNew:hover {
    background-color: #fdc800;
    color: #002147;
    border-color: #002147;
}
.submit{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.hide{
    display: none;
}