* {
  font-family: Century Gothic;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: auto;
}
.mainTile{
  font: normal normal normal 60px/73px Century Gothic;
letter-spacing: 0px;
color: #091F40;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px;
  padding: 20px 40px;
  border-top: 10px solid #680404;
  border-radius: 10px;
  box-shadow: 5px 10px 20px #00000029;
  background-color: #fff;
  height: auto;
}

.profile h2 {
  margin: 10px 0px;
  font-size: 2rem;
}
.profile h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.profile h5 {
  text-decoration: underline;
  text-transform: capitalize;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header Button {
  box-shadow: 5px 10px 20px #00000029;
}

.header Button:hover {
  cursor: pointer;
}

.header > div {
  width: 20%;
}

.headercolumn {
  display: block;
  text-align: center;
}

.loginphoto {
  margin: 15px 0px;
  height: 125px;
}

.statusActive,
.statusInactive,
.statusPending {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(23, 124, 10);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
}

.statusInactive {
  background-color: rgb(124, 10, 10);
}

.statusPending {
  background-color: rgb(210, 191, 14);
}

.boxImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.boxInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

.boxinfo {
  display: flex;
  flex-wrap: wrap;
}

.boxinfo > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 5px 0px;
  margin-right: 80px;
}
.workExperience {
  line-height: 25px;
}
.headercolumn {
  display: block;
  text-align: center;
}
.profileTitle {
  font-size: 3rem;
  font-weight: 100;
}
.statusBox span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  margin-top: 10vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.infoColumn {
  display: flex;
  flex-direction: column;
}
.infoType {
  margin-right: 6vw;
  font-size: 1.1rem;
  font-weight: 700;
}
.interviewsContent {
  margin-bottom: 40px;
}
.interviewsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 50px 30px 10px 30px;
  padding: 10px;
  border: 3px solid #002147;
  border-radius: 30px;
  box-shadow: 5px 9px 10px #68686842;
}
.dates {
  padding-left: 15vw;
}
.userName {
  padding-left: 1vw;
  font: bold 20px Century Gothic;
}
.time {
  padding-left: 1vw;
}
.bold {
  font-size: 1.3rem;
  font-weight: 900;
}
.detailsBtn {
  margin-left: 12vw;
  padding: 5px 40px;
  border-radius: 15px;
  border: none;
  background: #002147;
  color: #ffffff;
  font-weight: lighter;
}
.detailsBtn:hover {
  background-color: #680404;
  color: #ffffff;
}
.statusActive,
.statusInactive,
.statusPending {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(23, 124, 10);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
}
.statusInactive {
  background-color: rgb(124, 10, 10);
}
.statusPending {
  background-color: rgb(210, 191, 14);
}
.footer {
  display: flex;
  justify-content: right;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.personContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.loginphoto {
  margin: 15px 0px;
  width: 80%;
  height: auto;
}
.nameTitle {
  font: normal normal bold 25px/33px Century Gothic;
  color: #091f40;
}
.true {
  margin-top: 5px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #9b0000;
}
.false {
  margin-top: 5px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #0c7700;
}
.personTitle {
  font: normal normal bold 27px/37px Century Gothic;
  text-decoration: underline;
  color: #091f40;
  font-weight: bold;
}
.columnContainer {
  display: flex;
  flex-direction: column;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-right: 10px;
}
.titleInfo {
  font: normal normal bold 20px/27px Century Gothic;
  color: #091f40;
}
.infoData {
  font: normal normal normal 20px/27px Century Gothic;
  color: #091f40;
}
.positionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}
.positionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.positionTitle {
  font: normal normal bold 25px/30px Century Gothic;
  letter-spacing: 0px;
  color: #091f40;
}
.positionTable{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 95%;
  margin: auto;
}
.table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table th {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #002147;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  line-height: 17px;
}

.table td {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #fff;
  text-align: left;
  line-height: 17px;
}


/* this is for the blue border, it has to be piece by piece*/
.table th,
.table tbody td {
  border-top: 2px solid #002147;
  border-bottom: 2px solid #002147;
}

.table td:first-child,
.table th:first-child {
  border-radius: 20px 0 0 20px;
  border-left: 2px solid #002147;
}

.table td:last-child,
.table th:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 2px solid #002147;
}
.btnContainer{
  display: flex;
  justify-content: right;
}
.btnDetails{
  margin: 5px;
  padding: 5px 20px;
  background-color: #002147;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  color: #fff;
  font-size: 13px;
  font-weight: 900;
}
.btnDetails:hover{
  background-color: #680404;
  color: #fff;
  cursor: pointer;
}