.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .containerInterviews {
    background-color: #ffffff;
    height: auto;
    width: 70%;
    border-top: 16px solid #065500;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .backBtn {
    font: 1.1rem Century Gothic;
    margin: 30px;
    padding: 5px 15px;
    background-color: #065500;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 5px 9px 10px #68686842;
  }
  .backBtn:hover {
    background-color:#002147;
    color: #ffffff;
  }
  .interviewsContent {
    margin-bottom: 40px;
  }
  .unassigned {
    margin: 30px;
    font: normal normal normal 45px/50px Century Gothic;
    color: #002147;
  }
  .title {
    margin-left: 30px;
    margin-bottom: 10px;
    font: normal normal normal 25px/30px Century Gothic;
    color: #002147;
  }
  .bold {
    font-weight: bold;
  }
  .interviewsInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 10px 30px;
    padding: 10px;
    border: 3px solid #002147;
    border-radius: 30px;
    box-shadow: 5px 9px 10px #68686842;
  }
  .dates {
    padding-left: 20vw;
  }
  .userName {
    padding-left: 1vw;
    font: bold 20px Century Gothic;
  }
  .assignBtn {
    margin-left: 5vw;
    padding: 5px 40px;
    border-radius: 15px; 
    border: none;
    background: #bdb10a;
    color: #ffffff;
    font-weight:lighter;
  }
  .detailsBtn {
    margin-left: 9vw;
    padding: 5px 40px;
    border-radius: 15px; 
    border: none;
    background: #002147;
    color: #ffffff;
    font-weight:lighter;
  }
  .assignBtn:hover,
  .detailsBtn:hover {
    background-color:#065500;
    color: #ffffff;
  }
  