.container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 30px;
  padding: 20px 20px;
  border-top: 10px solid #002147;
  border-radius: 10px;
  background-color: #fff;
}

.profile h2 {
  margin: 10px 0px;
  font-size: 2rem;
}
.profile h3 {
  margin: 15px 0px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.profile h4, .profile span {
  margin: 5px 0px;
  font-size: 1.2rem;
  font-weight: 700;
}
.profile span {
  font-weight: 100;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header > div {
  width: 20%;
}

.headercolumn {
  display: block;
  text-align: center;
}

.loginphoto {
  margin: 15px 0px;
  height: 125px;
}

.statusActive, .statusInactive {
  padding: 10px 15px;
  border-radius: 25px;
  background-color: rgb(23, 124, 10);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
}

.statusInactive {
  background-color: rgb(124, 10, 10);
}

.box {
  display: flex;
  flex-direction: column;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

.boxinfo {
  display: flex;
  flex-wrap: wrap;
}

.boxinfo > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 5px 0px;
  margin-right: 80px;
}
