.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 0px;
}
.table th {
  padding: 15px;
  background-color: #002147;
  color: #f0f4f9;
  font-weight: normal;
}
.table td {
  text-align: center;
  border-bottom: 1px solid black;
}

.table tr:nth-of-type(odd) {
  background-color: #f0f4f9;
}

.table tr:nth-of-type(even) {
  background-color: #fff3cd;
}

.table tr:hover {
  background-color: #8e8e8f;
}
