.error {
  display: flex;
  justify-content: flex-end;
  color: #9b0000;
}

.hide {
  visibility: hidden;
}
input[type='date'] {
  cursor: pointer;
}

input[type='time'] {
  cursor: pointer;
}

input[type='datetime-local'] {
  cursor: pointer;
}
