.container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: fit-content;
  margin: 30px;
  padding: 20px 30px;
  border-top: 10px solid #680404;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}

.list h2 {
  padding: 10px;
  font-size: 20px;
}

.list div {
  display: flex;
  justify-content: space-between;
}

.table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table th {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #610000;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  line-height: 17px;
}

.table td {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #fff;
  text-align: center;
  line-height: 17px;
}

.containerButtons {
  display: flex;
  width: 100%;
}

.btnSection {
  flex: auto;
  border: 1px solid #610000;
  color: #610000;
  padding: 7px;
  text-align: center;
  font: normal normal normal 20px/25px Century Gothic;
  margin: 0;
}
.btnSection:hover {
  border: 1px solid #610000;
  color: #ffffff;
  background-color: #610000;
  margin: 0;
}
.btnSectionActive {
  flex: auto;
  border: 1px solid #610000;
  color: #ffffff;
  background-color: #610000;
  padding: 7px;
  text-align: center;
  font: normal normal normal 20px/25px Century Gothic;
  margin: 0;
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemPersonalColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.searchTitle {
  font: normal normal bold 20px/25px Century Gothic;
  color: #091f40;
}
.itemPersonalColumn input {
  padding: 12px 16px;
  border: 3px solid #002147;
  border-radius: 20px;
  background-color: #f0f4f9;
  font-size: 14px;
}
::placeholder {
  font: normal normal normal 20px/25px Century Gothic;
  color: #091f4080;
}
.searchBtn {
  font: 1.1rem Century Gothic;
  margin-left: 55px;
  padding: 10px 15px;
  background-color: #610000;
  border-radius: 20px;
  border: 2px solid #610000;
  color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 5px 9px 10px #68686842;
}
.searchBtn:hover {
  background-color: #002147;
  color: #ffffff;
  cursor: pointer;
}
.notFoundMessage {
  font: normal normal bold 20px Century Gothic;
  width: 45%;
  color: #9b0000;
  margin: 20px;
}
.redBtn {
  margin-left: 6vw;
  padding: 5px 40px;
  border-radius: 15px;
  border: none;
  background: #680404;
  color: #ffffff;
  font-weight: lighter;
}
/* this is for the blue border, it has to be piece by piece*/
.table th,
.table tbody td {
  border-top: 2px solid #002147;
  border-bottom: 2px solid #002147;
}

.table td:first-child,
.table th:first-child {
  border-radius: 20px 0 0 20px;
  border-left: 2px solid #002147;
}

.table td:last-child,
.table th:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 2px solid #002147;
}
