.container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerPsychologists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: fit-content;
  min-width: 70%;
  margin: 30px;
  padding: 20px 30px;
  border-top: 10px solid #680404;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTitle button {
  margin: 10px 0px;
}

.headerTitle h2 {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 900;
}

.contentPsychologists {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.title {
  margin-bottom: 10px;
  font: normal normal normal 25px/30px Century Gothic;
  font-weight: 900;
}

.psychologistsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  padding: 5px;
  border: 2px solid #002147;
  border-radius: 30px;
  box-shadow: 5px 9px 10px #68686842;
}

.psychologistsInfo td {
  padding: 0px;
}

.userName {
  padding-left: 1vw;
  font: bold 20px Century Gothic;
}
.redBtn, .greenBtn {
  margin: 5px;
  padding: 5px 40px;
  border-radius: 15px;
  border: none;
  background: #680404;
  color: #ffffff;
  font-weight: 600;
}
.greenBtn {
  background: #065500;
}
.redBtn:hover,
.greenBtn:hover {
  background-color: #002147;
}
