.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .mainTitle {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px rgb(191, 191, 191) solid;
    font-size: 30px;
  }
  .form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .buttonGreen {
    padding: 16px 40px;
    margin: 20px;
    border: rgb(21, 139, 10);
    border-radius: 30px;
    background-color: rgb(21, 139, 10);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
  }
  .buttonGreen:hover {
    background-color: rgb(88, 88, 88);
  }
  
  .buttonAdd {
    display: inline-flex;
    align-self: flex-end;
    width: fit-content;
    text-decoration: none;
  }
  .disabled {
    border: rgb(121, 121, 121);
    background-color: rgb(121, 121, 121);
    color: rgba(0, 0, 0, 0.603);
    cursor: not-allowed;
  }
  .form fieldset {
    width: 50%;
    padding: 10px 40px;
    margin: 0;
    border: none;
    box-sizing: border-box;
  }
  .form label {
    display: block;
    padding: 10px 5px;
  }
  .form input,
  .form select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 30px;
    box-sizing: border-box;
  }