* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: auto
}
.flexRow{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.form div {
  padding: 10px;
  color: #002147;
  flex: 1 1 0px
}

.form label {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 900;
}

.form input,
.form select {
  width: 100%;
  padding: 12px 16px;
  border: 2px solid #002147;
  border-radius: 20px;
  background-color: #f0f4f9;
  font-size: 14px;
}

.form button {
  display: flex;
  justify-content: center;
}

.form select,
.form button { 
  cursor: pointer;
}
  .mainTitle {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px rgb(191, 191, 191) solid;
    font-size: 30px;
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .buttonGreen {
    padding: 16px 40px;
    margin: 20px;
    border: rgb(21, 139, 10);
    border-radius: 30px;
    background-color: rgb(21, 139, 10);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
  }
  .buttonGreen:hover {
    background-color: rgb(88, 88, 88);
  }
  
  .buttonAdd {
    display: inline-flex;
    align-self: flex-end;
    width: fit-content;
    text-decoration: none;
  }
  .disabled {
    border: rgb(121, 121, 121);
    background-color: rgb(121, 121, 121);
    color: rgba(0, 0, 0, 0.603);
    cursor: not-allowed;
  }
  .form fieldset {
    width: 50%;
    padding: 10px 40px;
    margin: 0;
    border: none;
    box-sizing: border-box;
  }
  .form label {
    display: block;
    padding: 10px 5px;
  }
  .form input,
  .form select {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 30px;
    box-sizing: border-box;
  }