.container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: fit-content;
  margin: 30px;
  padding: 20px 30px;
  border-top: 10px solid #680404;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}

.list h2 {
  padding: 10px;
  font-size: 20px;
}

.list div {
  display: flex;
  justify-content: space-between;
}

.table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table th {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #fff;
  text-align: center;
}

.table td {
  padding: 10px;
  box-shadow: 5px 5px rgba(6, 8, 104, 0.05);
  background-color: #fff;
  text-align: center;
}

/* this is for the blue border, it has to be piece by piece*/
.table th,
.table tbody td {
  border-top: 2px solid #002147;
  border-bottom: 2px solid #002147;
}

.table td:first-child,
.table th:first-child {
  border-radius: 20px 0 0 20px;
  border-left: 2px solid #002147;
}

.table td:last-child,
.table th:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 2px solid #002147;
}