.error {
  background-color: #9b0000;
  height: 1.5vw;
  color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 10px;
  opacity: 1;
}
.error > p {
  display: inline;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.success {
  background-color: #0c7700;
  height: 1.5vw;
  color: rgb(3, 3, 3);
  text-align: center;
  border-radius: 10px;
  opacity: 1;
}
.success > p {
  display: inline;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
}

.warning {
  background-color: rgb(245, 208, 47);
  color: rgb(3, 3, 3);
}

.hide {
  display: none;
}
