.container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3a4c66;
  }
  .containerSummary {
    background-color: #ffffff;
    height: auto;
    width: 70%;
    border-top: 8px solid #002147;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 40px;
  }
  .title {
    margin: 30px;
    font: normal normal normal 45px/50px Century Gothic;
    color: #002147;
  }
  .formContent {
      padding: 0px 120px;
  }
  .column1 {
      display: flex;
      flex-direction: column;
  }
  .column2 {
      display: flex;
      justify-content: space-between;
  }
  label {
      font-weight: 900;
  }
  .descriptionInput {
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 3px solid #002147;
    width: 93%;
    padding: 5px;
    font: normal normal normal 1.3em Century Gothic;
    color: #002147;
  }
  ::placeholder {
    padding: 3px;
    font: normal normal normal 1em Century Gothic;
  }
  .containerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 20px 35px;
  }
  