.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}
.fields {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;
}
.fields label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #1f162d;
}
.fields input {
  border: 2px solid rgba(0, 0, 0, 0.425);
  border-radius: 7px;
}
