.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  margin: 15px;
  border-collapse: collapse;
  border: 2px solid black;
}

.table th {
  padding: 15px;
  border-left: 1px solid black;
  border: 2px solid black;
  background-color: #002147;
  color: #f0f4f9;
  font-weight: normal;
}
.table td {
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.table tr:nth-of-type(odd) {
  background-color: #f0f4f9;
}

.table tr:nth-of-type(even) {
  background-color: #fff3cd;
}